@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './animation.scss';
@import './element-ui.scss';
@import './sidebar.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
}
