#app {
  .main-container {
    position: relative;
    min-height: 100%;
    margin-left: $sideBarWidth;
    transition: margin-left 0.28s;
  }

  .sidebar-container {
    position: fixed;
    left: 0;
    z-index: 1001;
    width: $sideBarWidth;
    height: 100%;
    overflow: hidden;
    font-size: 0px;
    background-color: $menuBg;
    transition: width 0.28s;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    .svg-icon {
      margin-right: 20px;
    }

    .sidebar-logo-container {
      .svg-icon {
        margin-right: 0;
      }
    }

    .el-menu {
      border: none;
      .el-menu-item,
      .el-submenu {
        & [class^='el-icon-'] {
          width: 1em;
          margin-right: 20px;
          font-size: 1em;
          color: currentcolor;
        }
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover;
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth;
      background-color: $subMenuBg;

      &:hover {
        background-color: $subMenuHover;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown .el-tooltip {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }

      .sub-el-icon {
        margin-left: 20px;
      }
    }

    .el-submenu > .el-submenu__title {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }

      .sub-el-icon {
        margin-left: 20px;
      }

      .el-submenu__icon-arrow {
        display: none;
      }
    }

    .el-menu--collapse {
      width: 100%;
      .el-submenu > .el-submenu__title span {
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    &.hideSidebar .sidebar-container {
      pointer-events: none;
      transform: translate3d(-$sideBarWidth, 0, 0);
      transition-duration: 0.3s;
    }

    .sidebar-container {
      width: $sideBarWidth;
      transition: transform 0.28s;
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover;
    }
  }

  // the scroll bar appears when the subMenu is too long
  & > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    @include scrollBar;
  }
}
